<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="amazonEndToEnd.TC1_LoginToAmezon"/>
      <class name="amazonEndToEnd.TC2_LogintoLogout"/>
      <class name="amazonEndToEnd.TC3_Login_Serching"/>
      <class name="amazonEndToEnd.TC4_Login_AddToCart"/>
        <class name="amazonEndToEnd.TC5_LoginFailure"/>
            <class name="amazonEndToEnd.TC6_editProfileInfo"/>
      <class name="amazonEndToEnd.TC7_SerchingProductwithFilter"/>
      
  
    
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
